body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

.main {
    display: flex;
    width: 1200px;
    
    margin: 0 auto;
}

.aside{
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
    
}

.photo{
    width: 370px;
    margin-bottom: 50px;
}

.s-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
    
}

.contacts, .techskills, .softskills{
    margin-left: 40px;
}

.contacts{
    margin-bottom: 50px;
}

.techskills{
    margin-bottom: 45px;
}

.softskills{
    margin-bottom: 370px;
}

.contact-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.con{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9AA3B0;
    
}


.ul-tech{
    color: #fff;
    padding: 0;
    margin-left: 15px;
}

.ul-soft{
    color: #fff;
    padding: 0;
    margin-left: 15px;
}

.tech{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.li-tech{
    color: #FB6D3A;
}

.main-content {
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

.about{
    width: 400px;
    height: 230px;
    margin-right: 345px;
    margin-bottom: 40px;
}

.about-pos{
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
}

.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.about-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects{
    margin-bottom: 50px;
}

.head{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-ol{
    padding: 0;
    margin-left: 18px;
}

.projects-li{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-href{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.span-pr{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}


.subtitle-work{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.orange{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.text-work{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list{
    padding: 0;
    margin-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-place{
    margin-bottom: 20px;
}

.education{
    margin-top: 40px;
}

.subtitle-ed{
    margin-top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.sub-ed{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
}

.ed-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 0;

}